.dbg {
  color: white;
  background-color: #000;
}
/* blocchi con colori  */
#aside_site {
  background-color: #000;
  height: 100vh;
  width: 150px;
}
#nav_top {
  height: 70px;
  width: 100%;
  background-color: #080b12;
}
#main_site {
  width: 100%;
  background-color: #141922;
}
#footer_site {
  height: 70px;
  width: calc(100% - 15px);
  background-color: #282828;
  position: fixed;
  bottom: 0;
  left: 0;
}
