* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.dbg {
  color: white;
  font-family: 'Montserrat', sans-serif;
}
/* common rules  */
ul {
  list-style: none;
}
a {
  color: #7d7f84;
  text-decoration: none;
}
/* SCHELETRO DELLA PAGINA CON IL MIO CONTENITORE WRAPPER>> NAV / MAIN & FOOTER  */
/* contenitore di tutta la struttura  */
#wrapper {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 100%;
  /* overflow: hidden; */
}
/* nav di sinistra contenitorizzata a sinistra */
nav {
  float: left;
  height: calc(100% - 70px);
  width: 200px;
  background-color: #000;
}
/* main contenitorizzata a destra */
main {
  float: left;
  height: calc(100% - 70px);
  width: calc(100% - 200px);
  background-color: #141922;
  overflow: auto;
}
/* footer ricavato per differenza di altezza della main e nav  */
footer {
  height: 70px;
  width: 100%;
  background-color: #282828;
}
/* codice per le sezioni di qui in poi  */
/* display flex column per nav sinistra  */
.nav_d_flex {
  display: flex;
  flex-flow: column;
  overflow: auto;
  height: 100%;
  width: 200px;
  justify-content: space-between;
  text-align: left;
  margin-left: 10px;
}

.logo img {
  height: 35px;
  margin: 15px 0;
  padding: 0 5px;
}
.menu_pulsanti img {
  height: 25px;
  margin: 0 5px;
}
.menu_pulsanti li > a {
  font-weight: 700;
  font-size: 0.8rem;
  color: darkgray;
}
.menu_pulsanti ul li a:hover {
  color: #fff;
  border-left: 2px solid #adff2f;
  transition: 0.5s;
}
.playlist_utente {
  padding-top: 30px;
  margin: 0 5px;
}
.playlist_utente h6 {
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 10px 0;
}
.playlist_utente a:hover {
  color: #fff;
  transition: 0.5s;
}
.fa-plus {
  background-color: white;
  width: 30px;
  height: 30px;
  color: black;
  vertical-align: middle;
  line-height: 30px;
  text-align: center;
  opacity: 0.8;
  margin-right: 10px;
}
.playlist_utente > a {
  font-weight: 700;
  font-size: 1rem;
}
.playlist_utente ul li {
  margin: 10px 0;
  font-size: 0.8rem;
  font-weight: 700;
}
.profilo_utente ul li a:hover {
  color: #fff;
}
.profilo_utente ul li:first-of-type {
  border-bottom: 1px solid #fff;
  width: 70%;
}
.profilo_utente ul li {
  padding: 10px 0;
}
.profilo_utente a {
  font-weight: 700;
  font-size: 0.8rem;
}
.profilo_utente img {
  height: 15px;
  vertical-align: bottom;
}
.profilo_avatar {
  font-weight: 700;
  font-size: 0.8rem;
  color: #fff;
}
.profilo_avatar img {
  height: 20px;
  background-color: lightslategray;
  border-radius: 50%;
  margin-right: 5px;
}
/* icone nascoste */
.icone
{
  display: none;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.icone img {
  display: none;
  height: 30px;
  margin: 5px 0;
}
#xs_download
{
  height: 18px;
  margin-left: 5px;
}
.xs_img
{
  display: none;
  background-color: lightslategray;
  border-radius: 50%;
}
/* sezione della main colonna destra */
.barra_pulsante {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: #080b12;
  padding-right: 20px;
}
.barra_pulsante a {
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.barra_pulsante a:hover {
  transform: scale(1.1);
  transition: ease 0.5s;
}
.menu_principale {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.menu_principale > ul li {
  display: inline;
  font-size: 0.9rem;
  font-weight: 700;
  margin: 10px;
}
.menu_principale > ul li:hover a {
  border-bottom: 2px solid #adff2f;
  color: #fff;
  transition: 0.5s;
}
.container {
  width: 100%;
  margin: 0 auto;
}
/* regoli comuni per le card e row  */
.row {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  width: 170px;
  height: 250px;
  margin: 5px;
  text-align: center;
}
.card_img {
  position: relative;
}
.card_img img {
  width: 170px;
  height: 170px;
}
.card_img h4 {
  padding: 10px 0;
}
.card_img h6 {
  color: darkgrey;
}
/* album recenti creati suggeriti regole specifiche  */
.album_recenti h2 {
  margin-left: 10px;
  padding: 20px 0;
}
.album_creati h2 {
  margin-left: 10px;
  padding-top: 30px;
}
.album_creati h6,
.album_popolari h6 {
  margin-left: 10px;
  color: darkgray;
  padding: 10px 0;
}
.album_popolari h2 {
  margin-left: 10px;
  padding-bottom: 10px;
}
.album_popolari img {
  border-radius: 50%;
}
/* player degli album  */
.fa-play {
  position: absolute;
  padding: 15px;
  border: 3px solid white;
  border-radius: 50%;
  top: 10%;
  left: 20%;
  transform: translate(46%, 50%);
  color: #fff;
  display: none;
}
.card_img:hover i {
  display: block;
  transition: ease-in 0.5s;
}

/* footer ************ */
.mixer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.album{
  text-align: left;
  flex-grow: 1;
  border: 1px solid #adff2f;
}
.controller{
  text-align: center;
  flex-grow: 2;
  border: 1px solid #adff2f;
}
.volume{
  text-align: right;
  flex-grow: 1;
  border: 1px solid #adff2f;
}
/* colonna destra .mixer */
.copertina{
  border: 1px solid red;
  flex-grow: 1;
}
.titoli_copertina{
  border: 1px solid rgb(132, 0, 255);
  flex-grow: 2;
}
.likes{
  border: 1px solid rgb(51, 255, 0);
  flex-grow: 1;
}